[submodule "paper/cryptobib"]
	path = paper/cryptobib
	url = https://github.com/cryptobib/export
[submodule "src/kaiburr-jasmin"]
	path = src/kaiburr-jasmin
	url = https://github.com/swechchhaad/kaiburr-jasmin
